/* Global Style */
html{
	background-color: #154360;
	height: 100%;
}

body{
	margin: 1%;
	background-color: #eaf1f9;
	border-radius: 20px;
	padding: 1%;
	border: solid white;
	min-height: 90%;
	max-height 100%;
}

img{
	margin-right: 2%
	border: solid gray;
	border-radius: 2%;
	flex-grow: 0.5;
}

a{
	text-decoration: none;
}

p{
	margin-top: 1%;
}

h1{
	margin: 0;
	color:  #154360;
	font-family: 'menlo';
}

h2{
	margin-bottom: 1%;
	margin-top: 0; 
	font-family: 'Roboto Slab';
}

h3{
	margin: 0;
	font-family: 'Roboto Slab', serif;
}

/* List Styles */
ul{
	padding: 0;
	flex-grow: 1;
}

li{
	list-style: none;
}

.sub{
	padding-left: 5%;
}

.sub:before{
	color: #154360;
}

li:before{
	content: "♥";
	color: #BB0066; 
}

li.b:before{
	color: #154360;
}

.content{
	margin-top: 0;
	font-family: 'Noto Sans';
	font-size: 16px;
}

/* Page Header */
.flex-header{
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
	border-bottom: solid black;
}

.flex-list{
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.love{
	font-family: 'Short Stack';
	font-size: 35px;
	color: #BB0066; 
}

/* Github svg */
#github{
	width: 50px;
	transition: all 0.3s;
	transform-origin: 50% 50%;
	border: none;
	max-width: 100%;
}

#github:hover{
	transform: scale(1.1);	
}

/* Navigation Buttons */
#flex-nav{
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	padding-top: 0.5%;
}

button{
	cursor: pointer;
	border-radius: 28px;
	border: solid gray;
	border-width: 1px;
	width: 75px;
	font-size: 14px;
	padding: 5px;
	margin: 5px;
	transition-duration: 0.3s;
	color: white;
	background: #154360;
	font-family: 'Noto Sans';
}

button:hover{
	background: white;
	color: #18121E;
}

/* Code block CSS */
code{
	font-family: 'Inconsolata', monospace;
	border: solid gray;
	border-width: .1em .1em .1em .3em;
	font-size: 14px;
	margin-bottom: 0;
}

.comment{
	color: grey;
}
.codegreen{
	color: #008800;
}

.codepink{
	color: #BB0066;
}

.codeblue{
	color: #0066BB;
}

.codestring{
	color: #ef8b32;
}
