/* Global Options */
html{
	background-color: #18121E;
}

body{
	background-color: #eaf1f9;
	border-radius: 20px;
	padding: 15px;
	border: solid white;
}

a{
	text-decoration: none;
}

p{
	margin-top: 10px;
}

h1{
	margin: 0;
	color:  #154360;
	font-family: arial;
}

h2{
	margin-bottom: 5px;
}

h5{
	margin: 0;
}

/* Page Header */
.flex-header{
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
	border-bottom: solid black;
}

/* Navigation Buttons */
#flex-nav{
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	padding-top: 10px;
}

button{
	cursor: pointer;
	border-radius: 28px;
	border: solid gray;
	border-width: 1px;
	width: 100px;
	font-size: 16px;
	padding: 5px;
	margin: 5px;
	transition-duration: 0.3s;
	color: white;
	background: #154360;
}

button:hover{
	background: white;
	color: #18121E;
}

/* Github svg */
#github{
	width: 50px;
	background: white;
}


/* Code block CSS */
.codediv{
 	border:solid gray;
	border-width:.1em .1em .1em .3em;
	padding:.2em .6em;  
	overflow: auto;
	width: auto;
	background: #eee;
	font-family: 'Inconsolata', monospace;
	font-size: 13px;
}

pre{
	font-family: 'Inconsolata', monospace;
}

.comment{
	color: grey;
}
.codegreen{
	color: #008800;
}

.codepink{
	color: #BB0066;
}

.codeblue{
	color: #0066BB;
}

.codestring{
	color: #ef8b32;
}
