html{
	background-color: #154360;
}
body{
	background-color: #aed6f1;
	border-radius: 20px;
	padding: 15px;
	border: solid black;
}

p{
	margin-top: 10px;
}

h1{
	margin: 0;
	color:  #154360;
	font-family: arial;
}

h2{
	margin-bottom: 5px;
}

h5{
	margin: 0;
	border-bottom: solid black;	
}

code{
	background-color: lightgrey;
	display: block;
	padding: 5px;
	border: 1px solid #999;
	border-left: 5px solid #999;
}

pre{
	font-family: 'Inconsolata', monospace;
}

.content{
	margin-top: 30px;
}

.comment{
	color: grey;
}
.codegreen{
	color: #008800;
}

.codepink{
	color: #BB0066;
}

.codeblue{
	color: #0066BB;
}

.codestring{
	color: #ef8b32;
}

.codediv{
 	border:solid gray;
	border-width:.1em .1em .1em .3em;
	padding:.2em .6em;  
	overflow: auto;
	width: auto;
	background: #eee;
	font-family: 'Inconsolata', monospace;
}

